.combo-container {
    background-color: var(--white);
}

.combo-pro--title, 
.separate-pro--title {
    text-align: center;
    margin-bottom: 20px;
}

.list-combo-pro, 
.list-separate-pro {
    margin: 0 60px;
}