// @keyframes fadeIn {
    
//     to {
//         box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
//     }
// }

.contact-container {
    background-color: var(--white);
}

.contact__left-container {
    border-right: 1px solid #ddd;
    padding: 0 30px 0 60px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.contact__right-container {
    margin: 30px 60px 0 6px;
}

.heading {
    margin-bottom: 30px;
}

.contact-left-para {
    text-align: justify;
    padding: 10px 0;
}

.dash-line {
    width: 120px;
    height: 1px;
    background-color: var(--primary);
    margin: 20px 0 20px 50%;
    transform: translateX(-50%);
}

.traditional-contact-phone, 
.traditional-contact-home {
    display: flex;
    align-items: center;
}

.contact-phone--icon, 
.contact-home--icon {
    display: block;
    width: 30px;
    font-size: 1.8rem;
    color: var(--primary);
}

.contact-home--icon {
    color: #004d85;
}

.contact-phone--number, 
.contact-home--name {
    color: #333;
    font-size: 2rem;
    font-weight: 600;
}

.footer__work-time, 
.footer__home-add {
    padding: 0 30px;
    margin-bottom: 18px;
}

.bank-heading {
    text-transform: uppercase;
    color: var(--primary);
    text-align: center;
}

.bank-para {
    text-align: justify;
    margin: 10px 0 20px;
}

.bank-vietcom-title, 
.bank-agri-title {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    padding: 12px 0;
    border-top: 1px solid #ddd;
    transition: all ease 0.3s;

    .icon-down {
        padding: 0 10px;
        font-size: 2.4rem;
        color: rgb(154, 151, 151);
        transform: rotate(0deg);
        transition: ease 0.3s;
    }
}

.bank-vietcom-title-modify, 
.bank-agri-title-modify {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    padding: 12px 0;
    border-top: 1px solid var(--primary);
    transition: all ease 0.3s;
    color: var(--primary);
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.03);

    .icon-down {
        padding: 0 10px;
        font-size: 2.4rem;
        color: var(--primary);
        transform: rotate(-180deg);
        transition: ease 0.3s;
    }
}

.bank-vietcom-des {
    ul {
        margin-left: 30px;
        li {
            padding: 6px 0;

            .title, 
            .name {
                color: #008000;
            }

            .name, 
            .phone-number {
                font-weight: bold;
            }
        }
    }
}

.bank-agri-des {
    ul {
        margin-left: 30px;
        li {
            padding: 6px 0;

            .title, 
            .name {
                color: #800000;
            }

            .name, 
            .phone-number {
                font-weight: bold;
            }
        }
    }
}

.contact-social {
    display: flex;
    justify-content: space-between;
}

.social-item {
    width: 23%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: box-shadow ease 0.3s;

    &:hover {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
    }
}

.social-link {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-item--logo {
    position: relative;
    height: 100%;
    width: 120px;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        object-fit: cover;
        border-radius: 50%;
        transition: width height ease 0.3s;
    }
}

.social-item--text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    text-transform: uppercase;

    & span:nth-child(1) {
        color: var(--primary);
        font-weight: 700;
        letter-spacing: 0.12rem;
    }

    & span:nth-child(2) {
        color: var(--primary);
        opacity: 0.7;
        font-size: 1.4rem;
    }
}

.feedback {
    background-color: #f5f5f5;
    margin-top: 60px;

    h3 {
        color: var(--primary);
        margin-left: 25px;
        padding-top: 25px;
        margin-bottom: 12px;
    }

    p {
        margin-left: 25px;
    }

    & p:nth-child(3){
        font-size: 1.5rem;
        color: #222;
        font-weight: 700;
        margin-top: 10px;
    }

    .feedback-text {
        margin-left: 25px;
        margin-top: 10px;
        margin-right: 25px;
        width: auto;
        // border: 1px solid #ddd;

        .feedback-textarea {
            width: 100%;
            max-width: 100%;
            min-height: 120px;
            border: 1px solid #ddd;
            outline: none;
            padding: 8px 6px;
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
            transition: box-shadow ease 0.3s;

            &:hover {
                box-shadow: none;
            }
        }
    }

    .feedback__info {
        display: flex;
        margin-left: 25px;
        margin-right: 25px;
        justify-content: space-between;
        margin-top: 18px;

        .feedback__info-title {
            display: flex;
            width: 30%;
            flex-direction: column;

            span {
                font-size: 1.5rem;
                font-weight: 700;
                color: #222;
                margin-bottom: 10px;
            }

            input {
                height: 40px;
                width: 100%;
                border: 1px solid #ddd;
                padding: 8px 6px;
                box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
                transition: box-shadow ease 0.3s;

                &:hover {
                    box-shadow: none;
                }
            }
        }
    }

    .checkbox {
        margin-left: 25px;
        margin-top: 24px;
        display: flex;
        align-items: center;

        span {
            color: #222;
            font-weight: 700;
            font-size: 1.5rem;
            margin-left: 10px;
        }
    }

    .feedback-btn {
        margin-left: 25px;
        padding: 20px 0;
    }
}

.category {
    margin-bottom: 30px;
}

.category-name {
    h4 {
        font-size: 1.7rem;
        font-weight: 600;
        text-transform: uppercase;
    }

    span {
        display: block;
        width: 30px;
        height: 3px;
        background-color: rgba(0, 0, 0, 0.1);
        margin: 16px 0;
    }
}

.category-link {
    display: block;
    color: #334862;
    text-transform: uppercase;
    padding: 6px 0;

    &:hover {
        color: #000;
    }
}

.category-link:not(:nth-child(1)) {
    border-top: 1px solid #ddd;
}

.category-img {
    display: block;
    margin-top: 26px;

    img {
        width: 100%;
    }
}