.home-container {
    background-color: var(--white);
}

.gift-pro--title {
    color: #004d85;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 20px;
}

.list-gift-pro, 
.list-other-pro, 
.list-souvenir-pro{
    margin: 0 60px;
}

