
.heading {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.heading-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-icon, 
.heading-title {
    color: var(--primary);
    text-transform: uppercase;
    font-size: 1.7rem;

    // &::before {
    //     position: absolute;
    //     top: 50%;
    //     left: 0;
    //     content: '';
    //     width: 32%;
    //     border-top: 2px solid rgba(193, 9, 96, 0.1);
    // }

    // &::after {
    //     position: absolute;
    //     top: 50%;
    //     right: 0;
    //     // left: 40px;
    //     content: '';
    //     width: 32%;
    //     border-top: 2px solid rgba(193, 9, 96, 0.1);
    // }
}

.heading-icon {
    margin-right: 10px;
}

.dash-line-front {
    width: 32%;
    height: 2px;
    background-color: rgba(193, 9, 96, 0.1);
    // margin-right: 10px;
}

.dash-line-behind {
    width: 32%;
    height: 2px;
    background-color: rgba(193, 9, 96, 0.1);
    // margin-left: 0;
}